*.o
*.a
*.la
*.so
.coverage
.DS_Store
*.so

# python
*.egg-info/
.cache/
.coverage
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.vscode/
build/
dist/
htmlcov/
venv/
wheelhouse/
*.log
*.py[cod]
.coverage/
.env

# documentation outputs
docs/source/recipes/output/*
!docs/source/recipes/output/.gitkeep
